server:
  port: 8888

spring:
  application:
    name: configuration-server
  cloud:
    config:
      server:
        git: 
          uri: https://github.com/Niki4-37/aston-app-config-server.git
          default-lable: main
          clone-on-start: true

management:
  endpoints:
    web:
      exposure:
        include: "*"
